<html>

<head>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>Login</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand me-5" href='/'>
                <img src="/public/asset/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active me-3" aria-current="page" href='/'>Home</a>
                    </li>
                    {{#if isLogin}}
                    <li class="nav-item">
                        <a class="nav-link active text-orange" aria-current="page" href='/add-project'>Add Project</a>
                    </li>
                    {{/if}}
                </ul>
                <div class="right-side d-flex">
                     {{#if isLogin}}
                        <p class="btn-auth">{{user.name}},</p>
                        <a href='/logout' class='btn-auth'> Logout </a>
                    {{else}}
                        <a href='/login' class='btn-auth'> Login </a>
                        <a href='/register' class='btn-auth'> Register </a>
                    {{/if}}
                <div class='d-flex contact-me'>
                   
                    <a href='/contact' class="contactku ">contact me</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="d-flex align-items-center justify-content-center" style="flex-direction: column; margin-top: 150px;">
        <div class="ap-title my-2">
        <p style="font-size: 30px;">LOGIN</p>
    </div>
    
        <div class="ap-form">
            {{#if messages.error}}
        <div class='alert alert-danger w-100' role='alert'>
            {{messages.error}}
        </div>
        {{/if}}

        {{#if messages.warning}}
        <div class='alert alert-warning w-100' role='alert'>
            {{messages.warning}}
        </div>
        {{/if}}
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="ap-btn text-end">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>